<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSV2SPOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <CSV2SPOnline.Properties.Settings>
            <setting name="SiteURL" serializeAs="String">
                <value>https://lbccloudadcroydongov.sharepoint.com/sites/tapptest/Forms/</value>
            </setting>
            <setting name="ListName" serializeAs="String">
                <value>ECForm</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>C:\Users\SharePoint\Desktop\Test_data.xlsx</value>
            </setting>
        </CSV2SPOnline.Properties.Settings>
    </applicationSettings>
</configuration>